/*============= DEFINIÇÕES GLOBAIS ===========*/


/* definição de sizing, font, margens, paddings e espaçamento entre linhas*/
body {
    box-sizing: border-box;
    font-family: "Raleway";
    margin: 0;
    padding: 0;
    line-height: 1;
}


/* Estilização de listas desativada por padrão */
ol, ul,li {
    list-style: none;
}

/* Estilização de links desativada por padrão */
a{
    text-decoration: none;
}

/* cor dos links do nav por padrão  */
.navigation a{
    color: #b8abab;
}

/* espaçamento alterado por padrão para 175% */
h1,strong,p{
    line-height: 175%;
}


/*============= SCROLL BAR PERSONALIZADA ===========*/

/* define a largura */
body::-webkit-scrollbar {
    width: 8px;               

}

/* define a cor do scroll da barra maior (atras do scroll)*/
body::-webkit-scrollbar-track {
    background:  #080713;
}

/* define cor gradiente e borda arredondada para o scroll */
body::-webkit-scrollbar-thumb {
    background: linear-gradient(#4829a6, #251554);
    border-radius: 15px;
}

/*============= SESSÃO MENU ===========*/

/* section principal, define altura e largura, posição fixa para permanecer no topo enquando desce o site,  borda inferior, z-index para não ser sobreposto por outros elementos, cor de fundo*/
section.menu{
    width: 100%;
    height: 80px;
    position: fixed;
    border-bottom: 1px solid rgba(114,114,126,.2);
    z-index: 1;
    background-color: #0b0a1a;
}

.menubar{   
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.menu__title{
    font-size: 1.5em;
    margin-left: 10px;
    color: #fafafa;
    font-weight: bold;
}

.menu__title::before{
    content: "<";
    color: #4829a6;
}
.menu__title::after{
    content: "/>";
    color: #4829a6;
}


.menunav, 
header.logo,
.menu__list__item{
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu__list__item{
    border-bottom: 3px solid #0b0a1a;
    color: #b8abab;
    margin:10px;
}
.navigation a{
    color: #b8abab;
    margin:10px;
}

.navigation a:first-child{
    color: #fafafa;
}
    
.menu__list__item:hover{
    color: #fafafa;
    transition: all .3s ease-in-out;
    border-bottom: 3px solid #4829a6;
    margin:10px;
}


.menu__list__item:first-child{
    background: linear-gradient(to right, #4829a6, #251554);
    opacity: 1;
    border-bottom: 0;
    padding: 3px 10px;
    border-radius: 4px;
}
.navigation{
    display: flex;
    flex-direction: column;
}


/*Sessão Title*/

section.title{
    width: 100%;
    height: 100vh;  /* 90% DO MONITOR*/
    display: flex; 
    align-items: center;
    padding-top: 80px;
    background: -webkit-linear-gradient(120deg, #080713, #100e26);
    background: linear-gradient(120deg, #080713, #100e26);
}

/* Estilização dos botões que são usados ​​para abrir e fechar o painel sanfona */
.accordion {
    background-color: #0b0a17;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    height: 55px;
    transition: 0.4s;
    color: #fafafa;
    text-align: left;
    position: relative;
    font-size: 1.55em;
    font-weight: 600;
    padding-bottom: 4px;
    padding: 0px 30px;
    display: inline;
    border:1px solid #0b0a17;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    transition: all .5s ease-in-out;
    
}


.accordion::before{
    content: "\003E";
    margin-right: 10px;    
}
.fa-solid fa-caret-right::before{
    content: "\003E";
}
/* Adiciona uma cor de fundo ao botão se for clicado (adicione a classe .active com JS), e quando você passar o mouse sobre ele (hover)*/
.accordion:hover {
    justify-content: center;
    border-bottom: 2px solid transparent;
    border-image: linear-gradient(0.48turn, #9340FF, #9340ff3d, rgba(56,2,155,0));
    border-image-slice: 0.5;
    width:100%;    
    transition: all 2s ease-in-out;
    border-bottom: 1px solid #0b0a17;
    border-top: 0;
    border-left: 0;
    border-right: 0;
          
}

/* Estilizar o painel sanfona. Oculto por padrão */
.panel {
    padding: 0 18px;
    background-color: #0b0a17;
    display: none;
    overflow: hidden;
}

.title__div{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title__profile{
    order: 1;
    align-items: center;
    width: 360px;
    border: 3px solid #4829a6;
    border-radius: 50%;
}

.title__container{
    max-width: 600px;
}

.title__bio{
    color: #fafafa;
    font-size: 3em;
    font-weight: 600;
}

.strong{
    color: #b8abab;
    display: block;
    margin-bottom: 15px;
    font-size: 1.25em;
    font-weight: 600;
    
}

.title__subsection{
    max-width: 380px;
    color: #ccc;
    max-width: 380px;
    font-size: 1.125em;
    font-weight: 300;
}

.title__network{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    padding: 0px;
}

.title__network__item a{
    text-align: center;  
    background: linear-gradient(to right, #4829a6, #251554);
    margin-top: 40px;
    transition: all .5s ease-in-out;
    padding:15px 50px;
    margin-right: -15px;
    border-radius: 3px;
    color:#fafafacc;
}
.title__network__item a:hover{
    padding:15px 60px 15px 60px;
    box-shadow:0em 0 0.6em rgba(223, 211, 211, 0.4);
    text-align: center;
    color:#fafafa;
}


/*Sessão About*/

section.about{
    width: 100%;
    background: #0b0a17;
    padding: 40px 0px 80px 0px;

}
.about__container{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.p_subtitle{
    color: #ccc;
    text-align: center;
    padding-bottom: 20px;
    font-size: 1.25em;
}
.p_subtitle::before{
    content: "*";
    font-size: 1.25em;
    color: #9340FF;
    text-align: center;
}
.p_subtitle::after{
    content: "*";
    font-size: 1.25em;
    color: #9340FF;
    text-align: center;
}

.about__session{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.title__profile1{
    width: 200px;
    height: 200px;
    border: 3px solid #4829a6;
    border-radius: 50%;
    padding: 8px;
    margin: 0 auto;
    margin-bottom: 40px;

}
.about__title{
    color: #fafafa;
    text-align: center;
    position: relative;
    font-size: 2.5em;
    font-weight: 600;

}
.about__title::before{
    content: "";
    position: absolute;
    bottom: 0;
    width: 48px;
    height: 4px;
    background: #4829a6;
}

.about__sub_title{
    color: #fafafa;
    text-align: left;
    position: relative;
    font-size: 1.55em;
    font-weight: 600;
    padding-bottom: 4px;
    display: inline;
    border-bottom: 3px solid #0b0a17;
}

.about__sub_title:hover{
    color: #fafafa;
    transition: all .3s ease-in-out;
    border-bottom: 2px solid #4829a6;
    display: inline;
}
.about__sub_title::before{
    content: "\003E";
    margin-right: 10px;
}

.about__paragraph{
    color: #b8abab;
    font-size: 1.185em;
    font-weight: 300;
    text-align: justify;
    margin-left: 1.1em;
    word-wrap: break-word;
}
.cvdownload{
    margin-left: 1.1em;
}
.about__paragraph a,
.cvdownload{
    font-weight: 600;
    color: #4829a6;
    font-size: 1.185em;
    word-wrap: wrap;
}
.about__paragraph a:hover,
.cvdownload:hover{
    color: #fafafa;
    transition: all .3s ease-in-out;
    border-bottom: 2px solid #fafafa;
    display: inline;
}
.cvdownload{
    font-weight: 600;
    color: #4829a6;
    font-size: 1.185em;
}


/*Skills*/

section.skills{
    width: 100%;
    background: #080713;
    padding: 40px 0px 100px 0px;
}
.skills__title{
    color: #fafafa;
    text-align: center;
    position: relative;
    font-size: 2.5em;
    font-weight: 600;
    padding-bottom: 10px;

}
.skills__title::before{
    content: "";
    position: absolute;
    bottom: 0;
    width: 48px;
    height: 4px;
    background: #4829a6;
}

.skills p{
 color: #ccc;
 text-align: center;
 padding-bottom: 20px;
 font-size: 1.25em;
}
.skills__line{
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}
.skills__box{
    width: 160px;
    height: 160px;
    background: #0e0d1e;
    border: 1px solid rgba(0,0,0,0);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    border-radius: 10px;
    transition: all .5s ease-in-out;
    position: relative;
    color: #0e0d1e;
    font-weight: 600;
    text-align: center;
}

.skills__box:hover{
 border: 1px solid #4829a6;
 border-radius: 10px;
 color:#fafafa;
}



.skills__box ul{
    padding: 0;
    margin-top: 1px;
}

.skills__img img{
    width: 70px;
}

/* Experiência Acadêmica*/

section.academic{
    width: 100%;
    background: #0b0a17;
    padding: 40px 0px 40px 0px;
}

.academic__title{
    color: #fafafa;
    text-align: center;
    position: relative;
    font-size: 2.5em;
    font-weight: 600;
    padding-bottom: 10px;

}
.academic__title::before{
    content: "";
    position: absolute;
    bottom: 0;
    width: 48px;
    height: 4px;
    background: #4829a6;
}
.academic__line{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    padding-top: 20px;
    padding-bottom: 0px;
}

.academic__box{
    width: 300px;
    height: 300px;
    background: #0e0d1e;
    border: 1px solid rgba(0,0,0,0);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    border-radius: 10px;
    transition: all .5s ease-in-out;
    position: relative;
    color: #0e0d1e;
    font-weight: 600;
    text-align: center;
}

.academic__box:hover{
 border: 1px solid #4829a6;
 border-radius: 10px;
 color:#fafafa;
}

.academic__box ul{
    padding: 0;
    margin-top: 1px;
}

.academic__img img{
    width: 140px;
}

/* experiência*/

section.project{
    width: 100%;
    background: #0b0a17;
    padding: 40px 0px 140px 0px;
}

.project__title{
    color: #fafafa;
    text-align: center;
    position: relative;
    font-size: 2.5em;
    font-weight: 600;
    padding-bottom: 10px;

}
.project__title::before{
    content: "";
    position: absolute;
    bottom: 0;
    width: 48px;
    height: 4px;
    background: #4829a6;
}
.project__container{
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 40px;
}
.project__card{
    background-color: #0e0d1e;
    width: 300px;
    padding: 10px;
    border-radius: 10px;
    font-style: italic;
    font-size: 1.5em;
    opacity: .4;
    transition: all .5s ease-in-out;
    display: flex;
    flex-direction: column;
}
.project__card:hover{
    opacity: 2;
    border-radius: 10px;
    color:#fafafa;
}

.project__card h3, 
.project__card p{
    color: #fafafa;
}

.project__card a{
    font-size: 14px;
    text-align: center;
    color: #000;
    font-weight: bold;
    font-style: normal;
    background-image: linear-gradient(to right, #9340FF, #FF3C5F);
    border-radius: 8px;
    padding: 20px;
    width: 20%;
}
.project__card a:hover{
    text-align: center;
    justify-content: center;
    box-shadow:0em 0 0.6em rgba(223, 211, 211, 0.4);
    transition: all .5s ease-in-out;
    color:#fafafa;
}

/*Contato*/

section.contact{
    width: 100%;
    background: #080713;
    padding: 40px 0px 100px 0px;
    overflow-x: hidden;
}

.contact__container{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

section.contact-content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.formcontato__title{
    color: #fafafa;
    text-align: left;
    position: relative;
    font-size: 2.5em;
    font-weight: 600;
    padding-bottom: 10px;
    margin-bottom: 70px;
}

.text__area__form{
    font-family: "Raleway";
    padding: none;
}
.formcontato__title::before{
    content: "";
    position: absolute;
    bottom: 0;
    width: 48px;
    height: 4px;
    background: #4829a6;
}
.form__all{
    width: 600px;

}

.spacer-input label {
    display: block;
    margin: 20px 0 20px 0;
    font-size: 1.35em;
    color: #ccc;
    font-weight: bold;
}
.spacer-input label::after {
    content: "*";
    color: #9340FF;
}
.spacer-input textarea {
    resize: vertical;
    height: 180px;
}

/*  ======================================================= */
/*                  scrollbar  textarea form                */
/*  ======================================================= */
.spacer-input textarea::-webkit-scrollbar {
    width: 6px;               
    background: #080713;
}
  
.spacer-input textarea::-webkit-scrollbar-track {
    background:  #080713;
}

.spacer-input textarea::-webkit-scrollbar-thumb {
    background: linear-gradient(#4829a6, #251554);
    border-radius: 15px;
}
/*  ======================================================= */

.spacer-input input,
.spacer-input textarea{
    background: #0e0d1e;
    color: #ccc;
    font-size: 1.3em;
    border: none;
    outline: none;
    border-radius: 2px;
    font-weight: 600;
    width: 527px;
    padding: 10px;
    border: 1px solid rgba(0,0,0,0);
    
}
.spacer-input input:focus,
.spacer-input textarea:focus{
    border: 1px solid #9340FF;
    outline: #9340FF;
}


.spacer-input{
    margin-bottom: 1em;
}
.buttomsubmit{
    width: 200px;
    height: 60px;
    border-radius: 3px;
    border: none;
    outline: none;
    padding:15px 60px 15px 60px;
    color: #fafafa;
    background: #4829a6;
    background: -moz-linear-gradient(to right, #4829a6, #251554);
    background: -webkit-linear-gradient(to right, #4829a6, #251554);
    background: linear-gradient(to right, #4829a6, #251554);
    cursor: pointer;
    transition: all .5s ease-in-out;
    font-size: 1.35em;
    font-weight: 600;
}
.buttomsubmit:hover{
    box-shadow:0em 0 0.6em rgba(223, 211, 211, 0.4);
    text-align: center;
    color:#fafafa;
    border-radius: 3px;
}


.contact_adress_all{
    display: flex;
    flex-direction: column;
    width: 400px;
    font-size: 1.125em;
}
.contact_adress_all h2{
    color: #fafafa;
    text-align: left;
    position: relative;
    font-size: 1.75em;
    font-weight: 600;
    display: inline;
    align-items: center;
    margin: 0;
    padding: 0px 0px 30px 0;
}
.contact_adress{
    display: flex;
    flex-direction: column;
    text-align: left;
    tex
}

.contact_adress p,
.contact_adress a{
    color: #b8abab;
    font-size: 1.185em;
    font-weight: 300;
    margin: 2px;
    padding: 0;
}
.contact_adress a{
    margin-bottom: 20px;
}
.contact_adress a:hover{
    color: #fafafa;
    transition: all .5s ease-in-out;
    text-decoration: underline;
}


/*footeer*/

section.footer{
   background: #080713;
   height: 100%;
   width: 100%;
   
}
.footer__rodape{
    border-top: 1px solid rgba(114,114,126,.2);
    width: 100%;
    max-width: 1200px;
    font-size: 1.3em;
    margin: 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.footer__rodape p{
    text-align: center;
    width: 1200px;
    font-size: 1.2em;
    margin: 0 auto;
    color: #ccc;
    font-weight: 600;
    line-height: 1.3;
}

.footer__rodape a{
    color: #fafafa;
    font-family: "Cabin Sketch",Arial,Helvetica,sans-serif;
    font-weight: bold;
}

.footer__rodape a::after{
    content: "/>";
    color: #4829a6;
}
.footer__rodape a::before{
    content: "<";
    color: #4829a6;
}

.btn-menu{
    display: none;
}


@media (max-width: 1245px){

    .title__div,
    .about__container,
    .contact__container{
        padding: 0px 40px;
    }

}

@media (max-width: 1080px){

 section.contact{
    padding-bottom: 60px;
 }
 .contact-content{
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    
 }

 .contact_adress_all{
    padding-top: 60px;
    margin-bottom: 20x;
 }
 .contact_adress_all,  
 .contact_adress a,
 .formcontato__title{
    width: 100%;
    align-items: center;
    text-align: center;
 }
 .form__all{
    width: 500px;
    text-align: center;
    margin: 0 auto;
 }  
 
 .form__all label{
    margin: 20px 0 20px 0;
    text-align: left;
 }
 .buttomsubmit{
    width: 100%;
    margin-top: 20px;
 }
 .spacer-input input,
 .spacer-input textarea{
   width: 480px;
 }
 .formcontato__title{
    margin-bottom: 10px;
 }

}
/*Tablet MENU MOBILE COMEÇA AQUI*/
@media (max-width: 825px) {

    .menubar{   
        max-width: 825px;
    }
    
/* Menu */
    .menunav{
        display: block; 
        position: absolute;
        top: 4.6875rem;
        margin-top: 0;
        left: 0;
        right: 0;
        padding-left: 0;
        background: #0b0a1a;
        text-align: center;
        width: 100%;
        height: 0;
        z-index: 2;
        overflow-y: hidden;
        visibility: hidden;
        transition: 0.5s;

        cursor: pointer;
        transition: 0.4s;
        color: #fafafa;
        font-size: 1.55em;
        font-weight: 600;
        display: inline;

        transition: all .5s ease-in-out;
    }

    .navigation.active .menunav{
        height: calc(100vh - 75px);
        visibility: visible;
        overflow-y: auto;
    }

    .menu__list__item:first-child{
        background: #0b0a1a;
    }

    .menu__list__item a{
        padding: 0.5rem 0;
        margin-inline: 0.4rem;
        border-bottom: 3px solid #0b0a1a;
        border-radius: 0;
    }
    .menu__list__item a:hover{
        padding: 0.5rem 0;
        margin-inline: 0.4rem;
        border-bottom: 3px solid rgb(147, 64, 255, 0.56);

        border-radius: 0;
        transition: 0.4s;
    }
     
    .menu__list__item{
        border: 0px;
    }

    .menu__list__item:hover{
        border: 0px;
    }

    .btn-menu {
        background: none;
        border: none;
        font: inherit;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        color: var(--white);
        padding: 1rem 0;
        cursor: pointer;
        width: 50px;
        margin: 0px;
        height: 50px;
        margin-right: 20px;
        margin-top: 0;
        margin-bottom: 0;
    }

    .hamburger {
        border-top: 0.125rem solid;
        width: 2.65rem;
        color: #fafafa;
    }

    .hamburger::after,
    .hamburger::before {
      content: " ";
      display: block;
      width: 2.65rem;
      height: 0.125rem;
      background: currentColor;
      margin-top: 0.7125rem;
      position: relative;
      transition: 0.3s;
    }

    .navigation.active .hamburger {
        border-top-color: transparent;
    }
    .navigation.active .hamburger::before {
        transform: rotate(135deg);
    }
    .navigation.active .hamburger::after {
        transform: rotate(-135deg);
        top: -0.7950rem;
    }


    .title__div{
       flex-direction: column-reverse;
    }
    .title__container{
        margin: 0 auto;
    }
    .title__profile{
        width: 300px;
        margin-top: 20;
    }
    .title__bio{
        margin: 10px;
    }
    .title__bio,
    .strong,
    .title__subsection{
        line-height: 155%;
        text-align: center;
    }
    .title__network__item {
        margin: 0 auto;
        padding: 0;
    }

}


/*Mobile*/
@media (max-width: 565px) {

/*Menu*/
.title__profile{
    display: none;
}
.about__container, .contact__container{
    display: flex;
    flex-wrap: wrap;
}
.contact-content{
    width:100%;
}
.form__all{
    width:100%;
    padding: 0;
    margin: 0;
}
.buttomsubmit{
    width:200px;

}
.spacer-input input, .spacer-input textarea{
    width:100%;
}
.contact__container{
    padding-left: 20px;
}
.form__all{
    display: flex;
    flex-direction: column;
}
.contact_adress_all,.contact_adress{
    display: flex;
    word-wrap: break-word;
}

}
